<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74460669540-2b36k1ph1lf20rhvjgm1l4nbt2g6hreu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74460669540-2b36k1ph1lf20rhvjgm1l4nbt2g6hreu</string>
	<key>API_KEY</key>
	<string>AIzaSyCUl9eJ7P5vVcq_wa2yhmJlOvL7_TjprW8</string>
	<key>GCM_SENDER_ID</key>
	<string>74460669540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maplife.mapl</string>
	<key>PROJECT_ID</key>
	<string>life-ad197</string>
	<key>STORAGE_BUCKET</key>
	<string>life-ad197.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74460669540:ios:39c105e815ccfba8912171</string>
</dict>
</plist>